/GAME-FRONTEND/node_modules/
/GAME-FRONTEND/build/
/GAME-BACKEND/node_modules/
/GAME-BACKEND/.env
/.idea/
.idea
/GAME-FRONTEND/yarn.lock
/GAME-FRONTEND/package-lock.json
/GAME-BACKEND/package-lock.json
/GAME-BACKEND/yarn.lock
